body{
    background-color: blanchedalmond;
}
.clearfixe{
    clear: both;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
 h2{
    background-color: tomato;
    padding: 10px;
    margin-bottom: 0;

}
.container .text{
    background-color: white;
    padding: 10px;
    height:500px;
    width: 400px;
    
    
}
.container div{
    background-color: rgb(102, 101, 101);
    height:600px;
    width: 200px;
    margin-top: 0;
    
}